@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Sen&display=swap');
/* style the Navbar */
.navbar{
    background-color:#800080 !important;
    }
.navbar a{
    font-size:20px;
    font-weight:400;

}
.navbar a:hover{
    color:ivory;
}
/* Style Hero section */
#hero-section{
    background: url("../images/herobackground.jpg");
    background-size: cover;
    background-position: center;
    min-height: 70vh;

}
#hero-section h1{
    color: #fff;
    font-family: 'Rock Salt', cursive;
}
#hero-section p{
    color: #fff;
    font-family: 'Sen', sans-serif;
    line-height: 1.6;

}
#hero-section span{
    font-style: italic;
    font-weight:bold;
}
#hero-section .btn-primary {
    color: #fff;
    background-color: #800080;
    border-color: #800080;
}
#tagline{
  transform: rotate(-4deg);
}
/* Style the about  Section */
p, ul, a{
    display: none;
}

h3 {
    cursor: pointer;
    color: #0088cc;
}



/* Style the Conact  Section */

/* Style the footer */
footer {
    background-color: #800080;
}
/* MODALS */
.modal .btn-primary {
    color: #fff;
    background-color: #800080;
    border-color: #800080;
}
