.navbar{
    background-color:#800080 !important;
    }
/* Style Hero section */
#hero-section{
    background: url("../images/herobackground.jpg");
    background-size: cover;
    background-position: center;
    opacity:0.5;
    min-height: 80vh;

}
/* Style the about  Section */





/* Style the Contact  Section */
* {
    box-sizing: border-box;
}

.container-contact {
    border-radius: 5px;
    background-color: #800080;
    padding: 10px;
  }

/* Style inputs */
input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  /* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  /* Create two columns that float next to eachother */
.container-hh {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }





